{% extends 'layouts/base.html' %}

{% block content %} 

<h1> About </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestiae nesciunt inventore odio sint delectus aliquam quos aperiam totam ducimus? Cumque, corporis dolorum accusamus explicabo, iure, ut hic alias fuga quibusdam tenetur laudantium at voluptatem? Voluptates, asperiores iste praesentium, eum quis tempore in maiores, aspernatur qui mollitia repellat nemo! Ab laudantium quod soluta numquam officiis, reprehenderit quia saepe tempore ducimus vitae aperiam suscipit voluptates provident impedit fuga excepturi doloribus, explicabo delectus expedita animi maiores vero? Exercitationem earum, cupiditate placeat, inventore alias nesciunt aspernatur eius facilis quia vitae similique, perferendis corporis ab distinctio odio aliquam quas ea temporibus eligendi cum nihil?</p>

<p>Created by {{username}}</p>

{% endblock %}